.timer-numbers {
    background-color: black;
    color: cornsilk;
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

h3 {
    background-color: indigo;
    color: khaki;
    text-align: center;
    width: auto;
    height: auto;
}